
  /* html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }
  
  body {
    width: 80%;
    margin: 0 auto;
  }
  
  h1, h2 {
    font-family: 'Roboto', sans-serif;
  }
  
  // header styles
  
  h1 {
    font-size: 4rem;
    text-align: left;
  } 
  h2 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 1px;
  }
  
  */

  .hide {
    display: none;
  }
      
  .hiddenDiv:hover + .hide {
    display: block;
    color: green;
  }
  
  header p {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: left;
  }
  
  /* section styles */
  
  section article {
    width: 80%;
    float: left;
  }
  
  section p {
    margin: 2px 0;
  }
  
  section ul {
    margin-top: 0;
  }

  /*ul { list-style-type: "📄 "; }*/

  ul { list-style-type: none; 
    list-style: none;
  }

a {
  color: #1772d0;
}

.papertitle {
  font-family: ‘Lato’, Verdana, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.sampleblock {
    display: flex;
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.5;
    font-weight: 400;
}

.samplerowfigure {
    display: table-cell;
}

.samplerowdata {
    display: table-cell;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
}

img {
  height: 5rem;
  width: 5rem;
}

.listBtn {
  align-items: center;
  padding: 5px .4rem;
  border-radius: .2rem;
  font-size: .9rem;
  line-height: .6;

  margin-bottom: .25rem!important;
  margin-right: .25rem!important;
  margin-top: .25rem!important;

  display: inline-block;
  font-weight: 400;
  border: 1px solid transparent;

  text-align: center;
  vertical-align: middle;

  background-color: #17a2b8;
  border: 1px solid transparent;

  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #fff;
  border-color: #17a2b8;
}

.listBtn:hover { 
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  text-decoration: underline;
}

.tableBtn {
  align-items: center;
  padding: 5px .4rem;
  border-radius: .2rem;
  font-size: .9rem;
  line-height: .6;

  margin-bottom: .25rem!important;
  margin-right: .25rem!important;
  margin-top: .25rem!important;

  display: inline-block;
  font-weight: 400;
  border: 1px solid transparent;

  text-align: center;
  vertical-align: middle;

  background-color: #17a2b8;
  border: 1px solid transparent;

  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #fff;
  border-color: #17a2b8;
}

.tableBtn:hover { 
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  text-decoration: underline;
}

.tableRow {
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    text-align: match-parent;
}