
  /* html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }
  
  body {
    width: 80%;
    margin: 0 auto;
  }
  
  h1, h2 {
    font-family: 'Roboto', sans-serif;
  }
  
  // header styles
  
  h1 {
    font-size: 4rem;
    text-align: left;
  } 
  h2 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 1px;
  }
  
  */

  .hide {
    display: none;
  }
      
  .hiddenDiv:hover + .hide {
    display: block;
    color: green;
  }
  
  header p {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: left;
  }
  
  /* section styles */
  
  section article {
    width: 80%;
    float: left;
  }
  
  section p {
    margin: 2px 0;
  }
  
  section ul {
    margin-top: 0;
  }

  /*ul { list-style-type: "📄 "; }*/

  ul { list-style-type: none; }

.sampleblock {
  display: block;
  font-size: .9rem;
  margin-top: .8rem;
}

.listBtn {
  align-items: center;
  padding: 5px .4rem;
  border-radius: .2rem;
  font-size: .8rem;
  line-height: .5;

  margin-bottom: .25rem!important;
  margin-right: .25rem!important;
  margin-top: .25rem!important;

  display: inline-block;
  font-weight: 400;
  border: 1px solid transparent;

  text-align: center;
  vertical-align: middle;

  background-color: transparent;
  border: 1px solid transparent;

  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #b1040e;
  border-color: #b1040e;
}

.listBtn:hover { 
  color: #fff;
  background-color: #b1040e;
  border-color: #b1040e;
  text-decoration: none;
}

.tableBtn {
  align-items: center;
  padding: 5px .4rem;
  border-radius: .2rem;
  font-size: .8rem;
  line-height: .5;

  margin-bottom: .25rem!important;
  margin-right: .25rem!important;
  margin-top: .25rem!important;

  display: inline-block;
  font-weight: 400;
  border: 1px solid transparent;

  text-align: center;
  vertical-align: middle;

  background-color: transparent;
  border: 1px solid transparent;

  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #b1040e;
  border-color: #b1040e;
}

.tableBtn:hover { 
  color: #fff;
  background-color: #b1040e;
  border-color: #b1040e;
  text-decoration: none;
}